.ChatContainer{
    position: relative;
    height: 95vh;
}
.ChatInput{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.ChatTextField{
    width: 75%;
}

.FileInput{
    margin: 12px 7px 0px;
}
.FileInput:hover{
    color: gray;

}

.button {
    text-decoration: none;
    display: inline-block;
    width: 15%;
    height: 53px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 10px 7px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: brown;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}
.button:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: green;
}