.MessageLeft{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;

}

.MessageRight{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
}

.Name{
    font-weight: bold;
}

.Text{

}
.MessageContent{
    display: flex;
    flex-flow: column wrap;
    background: lightgray;
    margin: 5px 5px;
    border-radius: 7px;
    padding: 3px;

    width: 200px;
}
